@model OnlineShoppingStore.Domain.Entities.Cart

<div class="navbar-right">
    @Html.ActionLink("Sipariş ver","Index","Cart",
    new {returnUrl=Request.Url.PathAndQuery},
    new {@class="btn btn-default navbar-btn"})
</div>
<div class="navbar-text navbar-right">
    <b>Sepetiniz:</b>
    @Model.Lines.Sum(x=>x.Quantity) ürün,
    @Model.ComputeTotalValue().ToString("c")
</div>

